<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<p id="log"></p>
<video id="videoElement" muted="muted" style="width:80vw;height: 45vw;"></video>
<script>
    function getElementCSSSize(el) {
    	var cs = getComputedStyle(el);
    	var w = parseInt(cs.getPropertyValue("width"), 10);
    	var h = parseInt(cs.getPropertyValue("height"), 10);
    	return {width: w, height: h};
    }
    function getCursorPosition(event) {
        var self = event.target;
    	var size = getElementCSSSize(self);
    	var scaleX = self.videoWidth / size.width;
    	var scaleY = self.videoHeight / size.height;

    	var rect = self.getBoundingClientRect();  // absolute position of element
    	var x = ((event.clientX - rect.left) * scaleX + 0.5)|0; // round to integer
    	var y = ((event.clientY - rect.top ) * scaleY + 0.5)|0;
		return {positionX: x, positionY: y};
    }
    var videoElement = document.getElementById('videoElement');
    if (flvjs.isSupported()) {
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            isLive: true,
            url: 'ws://screen.artx.moe:5000/live/STREAM_NAME.flv'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    };
    videoElement.addEventListener("mousemove", event => {
        var ps = getCursorPosition(event);
        document.getElementById("log").innerHTML = ps.positionX + " " + ps.positionY;
    });
</script> 